.comment-details-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }
  
  .comment-details-item {
    margin-bottom: 8px;
  }
  
  .comment-details-label {
    font-weight: bold;
    color: #337ab7;
    font-size: 16px;
  }
  .form-buttons{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .comment-details-value {
    margin-left: 10px;
    font-size: 16px;
  }
  
  .comment-details-value.gender-male {
    color: blue;
  }
  
  .comment-details-value.gender-female {
    color: rgb(179, 57, 98);
  }
  
  .comment-details-container {
    margin: 100px 20px;
    padding: 10px;
    border: 1px solid #0e0d0d;
    border-radius: 10px;
    background-color: #fff;
    max-width: 95%;
    box-sizing: border-box;
    text-align: center;
  }
  
  @media (max-width: 900px) {
    .comment-details-container {
      max-width: 90%;
    }
    .comment-details-title {
      font-size: 16px;
    }
  
    .comment-details-label {
      font-size: 14px;
    }
  
    .comment-details-value {
      font-size: 14px;
    }
  }
  @media (max-width: 768px) {
    .comment-details-container {
      max-width: 80%;
    }
    .comment-details-title {
      font-size: 16px;
    }
  
    .comment-details-label {
      font-size: 14px;
    }
  
    .comment-details-value {
      font-size: 14px;
    }
  }
  