.homework-form-container {
  margin-bottom: 20px;
 
}

.form-label-answers {
  width: 400px;
}

.form-label-textarea {
  // width: 985px;
  width: 740px;
}
.puan {
  margin-left: 50px;
}

label {
  font-size: 13px !important ;
  color: black;
}
